body{
	background-color: white;
	text-align: center;
	font-family: sans-serif;
}
h1{
	margin-top: 100px;
	font-size: 50px;
}
h2{
	margin-top: 30px;
	font-size: 30px;
	color: grey;
}
p{
	margin-top: 20px;
	font-size: 20px;
}
input{
	width:70px;
	height:40px;
	font-size:30px;
	border: 2px black solid;
	border-radius:2px;
}
button{
	width:70px;
	height: 30px;
	border-radius: 5px;
	margin-left: 10px;
	font-size:15px;
}